<%- include('includes/head', { pageTitle: 'An error occured' }) %> <!-- ha <.%- %>: nincs escapelve a kód hanem lefut-->
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortanetely, something went wrong - please try again later.</p>
        <p><a href="/" class="btn"> Back to safety!</a></p>
    </main>
<%- include('includes/footer') %>